$color-primary-0: #47D250;	// Main Primary color */
$color-primary-1: #8DF394;
$color-primary-2: #65E56E;
$color-primary-3: #2FB838;
$color-primary-4: #1D8B24;

$color-secondary-1-0: #6051BE;	// Main Secondary color (1) */
$color-secondary-1-1: #A397EE;
$color-secondary-1-2: #7E70D9;
$color-secondary-1-3: #4739A2;
$color-secondary-1-4: #32267B;

$color-secondary-2-0: #FFDC56;	// Main Secondary color (2) */
$color-secondary-2-1: #FFE994;
$color-secondary-2-2: #FFE171;
$color-secondary-2-3: #EAC63C;
$color-secondary-2-4: #B19425;

$color-complement-0: #FF5B56;	// Main Complement color */
$color-complement-1: #FF9694;
$color-complement-2: #FF7571;
$color-complement-3: #EA403C;
$color-complement-4: #B12825;


$rgba-primary-0: rgba( 71,210, 80,1);	// Main Primary color */
$rgba-primary-1: rgba(141,243,148,1);
$rgba-primary-2: rgba(101,229,110,1);
$rgba-primary-3: rgba( 47,184, 56,1);
$rgba-primary-4: rgba( 29,139, 36,1);

$rgba-secondary-1-0: rgba( 96, 81,190,1);	// Main Secondary color (1) */
$rgba-secondary-1-1: rgba(163,151,238,1);
$rgba-secondary-1-2: rgba(126,112,217,1);
$rgba-secondary-1-3: rgba( 71, 57,162,1);
$rgba-secondary-1-4: rgba( 50, 38,123,1);

$rgba-secondary-2-0: rgba(255,220, 86,1);	// Main Secondary color (2) */
$rgba-secondary-2-1: rgba(255,233,148,1);
$rgba-secondary-2-2: rgba(255,225,113,1);
$rgba-secondary-2-3: rgba(234,198, 60,1);
$rgba-secondary-2-4: rgba(177,148, 37,1);

$rgba-complement-0: rgba(255, 91, 86,1);	// Main Complement color */
$rgba-complement-1: rgba(255,150,148,1);
$rgba-complement-2: rgba(255,117,113,1);
$rgba-complement-3: rgba(234, 64, 60,1);
$rgba-complement-4: rgba(177, 40, 37,1);
