$font-size: 1rem;
$footer-heigth: ($font-size + .5rem);

$sand: #cfd37b;
$grass: #338A2E;
$wall: darken($grass, 20%);
$water: #2a4c7f;
$spawn: yellow;
$exit: red;

$background: #20201f;
$text: antiquewhite;
