$font-color: black;

$phone-main-width: 30vw;
$phone-navigation-width: 70vw;

$screen-main-width: 20vw;
$screen-navigation-width: 80vw;

$big-screen-main-width: 15vw;
$big-screen-navigation-width: 85vw;

$footer-heigth: 1rem;

$text-color: black;

$screen-min-width-threshold: 1200px;
$big-screen-min-width-threshold: 2000px;

@mixin width($little, $normal) {
  width: $little;
  @media screen and (min-width: $screen-min-width-threshold) {

		width: $normal;
	}
}

@mixin font-size($little, $normal) {

  font-size: $little;
  @media screen and (min-width: $screen-min-width-threshold) {

		font-size: $normal;
	}
}

@mixin margin($little, $normal) {
  margin: $little;
  @media screen and (min-width: $screen-min-width-threshold) {

		margin: $normal;
	}
}

@mixin padding($little, $normal) {
  padding: $little;
  @media screen and (min-width: $screen-min-width-threshold) {

		padding: $normal;
	}
}

@mixin padding-left-right($little, $normal) {
  padding: 0 $little;
  @media screen and (min-width: $screen-min-width-threshold) {

		padding: 0 $normal;
	}
}
