$font-color: black;
$font-size: 1rem;

$header-heigth: 6rem;
$footer-heigth: ($font-size + .5rem);

$title-heigth: 4rem;

$text-color: black;
$footer-color: white;

$first-color: #47D250;
$second-color: #6051BE;
$third-color: #FFDC56;
$forth-color: #FF5B56;
