$menu-dimension: ($font-size / 2);
@font-face {
	font-family: 'blackchancery';
	src: url('../assets/fonts/blkchcry-webfont.eot');
	src: url('../assets/fonts/blkchcry-webfont.eot?#iefix') format('embedded-opentype'),
			 url('../assets/fonts/blkchcry-webfont.woff2') format('woff2'),
			 url('../assets/fonts/blkchcry-webfont.woff') format('woff'),
			 url('../assets/fonts/blkchcry-webfont.ttf') format('truetype'),
			 url('../assets/fonts/blkchcry-webfont.svg#blackchanceryregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

#header {
	border-bottom: 1px $footer-color solid;

	.logo {
		float: left;
		margin: $menu-dimension;

		img {
			height: calc(#{$header-heigth} - #{$font-size});
		}
	}

	.heading {
	  display: flex;
	  flex-direction: column;
	  justify-content: space-between;

	  div {
	    display: flex;

	    .title {
	      font-family: blackchancery;
	      font-size: $title-heigth;
	      margin: auto;
	    }
	  }


		.menu {
	    display: flex;
    	justify-content: center;
			padding: 0;
	    margin: 0;

	    .menu-item {
				display: inline;
				margin: 0 1rem;
				cursor: pointer;

				span {
					background-color: $forth-color;
					padding: $menu-dimension;
					border-radius: $menu-dimension;
				}

				&:hover {
					background-color: yellow;
					.sub-menu {
						display: block;
    				margin: $menu-dimension 0;
					}
				}

				.sub-menu {
					display: none;
					padding: 0;

					.sub-menu-item {
						display: inline;
						margin: 0;
					}
				}
	    }
		}
	}
}
