#main {
  a {
    text-decoration: underline;
  }

  .post-container {
    text-align: justify;
    padding: 0 1vw 1vw;
    @media screen and (min-width: $screen-min-width-threshold) {

  		padding: 0 3rem 3rem;
  	}

    .post-content {
      line-height: 1.3;
    }
  }
}
