#root {

  position: relative;
  min-height: 100vh;

  #header {
    position: absolute;
    top: 0;
    left: calc(100% - #{$navigation-width});
    right: 0;
    height: $header-heigth
  }

  #navigation {
    position: absolute;
    top: 0;
    left: 0;
    right: $navigation-width;
    bottom: 0;
    margin-bottom: $footer-heigth;
  }

  #main {
    position: absolute;
    min-height: calc(100vh - #{$footer-heigth} - #{$header-heigth});
    max-height: calc(100vh - #{$footer-heigth} - #{$header-heigth});
    top: $header-heigth;
    right: 0;
    left: calc(100% - #{$navigation-width});
    margin-bottom: $footer-heigth;
    overflow: auto;
  }

  #footer {
    position: absolute;
    overflow: auto;
    bottom: 0;
    min-width: 100%;
    left: 0;
    min-height: $footer-heigth;
    max-height: $footer-heigth;
    background-color: $color-complement-4;
  }
}
