#root {

  position: relative;
  min-height: 100vh;

  #navigation {
    position: absolute;
    overflow: auto;
    //margin-bottom: $footer-heigth;
    top: 0;
    left: 0;
    bottom: 0;

    right: $phone-navigation-width;
    @media screen and (min-width: $screen-min-width-threshold) {

  		right: $screen-navigation-width;
  	}
    @media screen and (min-width: $big-screen-min-width-threshold) {

      right: $big-screen-navigation-width;
    }
  }

  #main {
    position: absolute;
    //margin-bottom: $footer-heigth;
    bottom: 0;
    top: 0;
    right: 0;
    overflow: auto;

    left: $phone-main-width;
    @media screen and (min-width: $screen-min-width-threshold) {

  		left: $screen-main-width;
  	}
    @media screen and (min-width: $big-screen-min-width-threshold) {

  		left: $big-screen-main-width;
  	}

    .title {
  		@include padding(0.5rem, 2rem);
  		@include font-size(7vw, 5rem);

      font-family: blackchancery;
      color: $second-color;
      margin: 0 auto;
  		text-align: center;
    }
  }

  #footer {
    position: absolute;
    bottom: 0;
    min-width: 100%;
    height: $footer-heigth;
    min-height: $footer-heigth;
    max-height: $footer-heigth;
    background-color: $fourth-color;
  }
}
